@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}
@plugin "daisyui/theme" {
  --color-base-100: #718096;
  --btn-primary: #434e78;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}
